<%- include('../partials/header.ejs') %>

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1579403124614-197f69d8187b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading">
                  <h1>Admin Dashboard</h1>
              </div>
          </div>
      </div>
  </div>
</header>



<div class="container px-4 px-lg-5">
  <% adminActions.map(action => { %>
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-4 col-lg-4">
      <button id="<%= action.actionId %>" type="button" onclick="catchId(this.id)" class="btn btn-outline-primary btn-block"><%= action.displayName %></button>
    </div>
  </div>
  <% }).join('') %>
  <div class="col-md-8 col-lg-8"></div>
  <script>
    function catchId(displayId) {
        console.log(displayId)
    }
  </script>

</div>

<%- include('../partials/footer.ejs') %>